.experience {
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.experience h3 {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .experience {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* ************************************** experience box styles ***************************************/

.exp-box {
    max-width: 500px;
    padding: 2rem;
    background-color: #1e1e25;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1500px) {
    .exp-box {
        max-width: 400px;
    }
}

.exp-box h3 {
    margin-top: 0;
    /* font-size: 0.9em; */
}

.exp-box h5 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.exp-heading {
    text-align: center;
}

.exp-place,
.exp-period {
    color: #0bbba0;
}

.exp-box-content p {
    font-size: 0.9em;
    line-height: 1.5em;
}

.exp-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* ********************************************* exp-box popup styles ************************************************/

.exp-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.exp-popup,
#mathsHack-popup {
    background-color: #0bbba0;
    padding: 0.4rem 0.6rem;
    border-radius: 0.7rem;
    color: #1e1e25;
    font-weight: bold;
}

.exp-popup p,
.exp-popup li {
    text-align: left;
}


/* The actual popup */

.exp-popup .exp-popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #262526;
    color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.exp-popup .exp-popuptext2 {
    visibility: hidden;
    width: 240px;
    background-color: #262526;
    color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -115%;
    right: 0%;
    margin-left: -80px;
}

.exp-popup .exp-popuptext3 {
    visibility: hidden;
    width: 240px;
    background-color: #262526;
    color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 40%;
    right: 20%;
    margin-left: -80px;
}

.exp-box-content a {
    text-decoration: none;
}

#mathsHack-popup:hover,
.exp-popup:hover {
    background-color: #100e17;
    color: #0bbba0;
}

.exp-box-content a.active,
.exp-box-content a:visited {
    border-bottom: 0.2vh solid white;
}


/* Popup arrow */

.exp-popup .exp-popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #262526 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */

.exp-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) to the popup box */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}