.experience {
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}