/* ----------------------- home page ----------------------------------------------*/

.home-page {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-page img {
    padding-top: 1.5em;
    height: 20rem;
    width: 20rem;
}

.home-left {
    text-align: center;
    padding: 1vw 3vw 1vw 0vw;
}

.home-right {
    margin-left: 5vw;
}

.social-item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.social-item h4 {
    padding-left: 1rem;
    margin: 1.2vh 0 1.2vh 0;
}

.social-item i {
    font-size: 1.7rem;
}

.social-row {
    margin-top: 2vh;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.social-row-item a:-webkit-any-link,
.social-row-item a:link,
.social-row-item a:hover,
.social-row-item a:visited,
.social-row-item a:active {
    text-decoration: none;
    color: inherit;
}

.social-row-item:hover .social-row-item .fa:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #0bbba0;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social-row-item,
.social-row-item .fa {
    display: inline-block;
    width: 2rem;
    padding: 0.3rem;
    margin-right: 1.4rem;
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media screen and (max-width: 1200px) {
    .home-page {
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 670px) {
    .home-page img {
        height: 50vw;
        width: 50vw;
    }
    .social-item i {
        font-size: 1.2rem;
    }
    .social-row {
        font-size: 1rem;
    }
    .social-row-item,
    .social-row-item .fa {
        width: 1.5rem;
    }
}

#hello {
    display: inline-block;
    padding: 0.4em 1em;
    background-color: #0bbba0;
    border-radius: 1em 1em 0 1em;
    margin-bottom: 0;
    font-size: 1.2em;
}