/* ----------------------- home page ----------------------------------------------*/

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-page img {
    height: 20rem;
    width: 20rem;
}

.home-left {
    padding: 1rem 3rem;
}

.home-right {
    margin-left: 5vw;
}

.social-item {}

@media screen and (max-width: 1200px) {
    .home-page {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}