body {
    margin: 0;
    background-color: #100e17;
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
}

.main-content {
    margin-left: 10vw;
    margin-right: 10vw;
}


/* ----------------------- navigation bar ----------------------------------------------*/

.navbar {
    padding: 1vh 5vw 0 5vw;
    width: 90vw;
    top: 0;
    position: fixed;
    background: #100e17;
}

.topnav {
    margin: 0;
    overflow: hidden;
    /* border-bottom: 0.1rem solid white; */
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1.5vh 0;
    margin: 0 1.2vw;
    text-decoration: none;
    font-size: 1.3rem;
}

#nav-title {
    display: none;
}

.topnav a:hover {
    background-color: #100e17;
    color: #0bbba0;
}

.topnav a.active {
    /* background-color: #0bbba0; */
    color: #0bbba0;
    border-bottom: 0.2vh solid white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 670px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #nav-title {
        display: block;
    }
}

@media screen and (max-width: 670px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #nav-title {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .topnav a {
        font-size: 1.2vw;
    }
}


/* font sizes */

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.4vw;
}

h5 {
    font-size: 1vw;
}

h6 {
    font-size: 0.8vw;
}

p {}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 5vw;
    }
    h4 {
        font-size: 4vw;
    }
    h5 {
        font-size: 3vw;
    }
    h6 {
        font-size: 2vw;
    }
    p {}
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    h4 {
        font-size: 3vw;
    }
    h5 {
        font-size: 2.5vw;
    }
    h6 {
        font-size: 2vw;
    }
}